<div class="grid-container">
  <div class="grid-row">
    <div class="grid-span">
      <header>
        <h1>{{ title }}</h1>
        <p>
          <img src="http://www.google.com/s2/u/0/favicons?domain={{ domain }}" class="favicon">
          <small><a href="{{ url }}" title="View original article">{{ domain }}</a></small>
        </p>
      </header>
      <hr>
      <article class="article">{{{ article }}}</article>
      <hr>
      <p class="article-home text-center"><a href="/">Back to the home page</a></p>
    </div>
  </div>
</div>
